$teal: #08ffbd;

* {
  box-sizing: border-box;
}

input,
label,
button {
  font-family: "Mukta Mahee", Helvetica, Arial, sans-serif;
}

label {
  padding-right: 18px;
  display: inline-block;
  width: 150px;
}

input {
  font-size: 17px;
  background: #211f2f;
  color: white;
  width: 60px;
  padding: 5px;
  border: 1px solid #666;
}

fieldset {
  margin-bottom: 20px;
  border: none;
  margin: 0;
  padding: 5px 0;
}

button {
  background: transparent;
  color: $teal;
  padding: 4px 30px 5px;
  border-radius: 1000px;
  border: 1px solid $teal;
  font-size: 16px;
  margin: 20px 0 0;
  cursor: pointer;
  transition: 0.35s all;
  &:hover {
    background: $teal;
    color: black;
  }
}
